<h1 mat-dialog-title>Einstellungen</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Spielstärke</mat-label>
    <mat-select [(value)]="gameSettings.maxThinkingTime">
      <mat-option [value]=100>Anfänger</mat-option>
      <mat-option [value]=200>Amateur</mat-option>
      <mat-option [value]=500>Fortgeschrittener</mat-option>
      <mat-option [value]=1000>Meister</mat-option>
      <mat-option [value]=2500>Großmeister</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Wer fängt an</mat-label>
    <mat-select [(value)]="gameSettings.beginner">
      <mat-option [value]="1">Computer</mat-option>
      <mat-option [value]="2">Spieler</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="gameSettings" cdkFocusInitial>Ok</button>
</div>
